*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    
}

.formulario{
    padding: 60px;
    background-color: grey;
}
.form-checkbox{
    margin-top: 18px;
}
.checkbox{
    
    height: 30px;
}